<!doctype html>
<html lang="utf-8">

<head>
    <meta charset="UTF-8">
    <title>点餐系统后台管理-首页</title>
    <link rel="stylesheet" href="/admin/css/top.css">
</head>


<body>
    <div class="header">
        <p>
            点餐系统后台管理
        </p>
        <div class="menu">
            <a href="/admin">
                <span>首页</span>
            </a>
            <a href="/admin/foodadmin">
                <span>订单管理</span>
            </a>
            <a href="/admin/good">
                <span>菜单管理</span>
            </a>
            <a href="/admin/users">
                <span>人员管理</span>
            </a>
        </div>
    </div>
</body>

</html>