<!doctype html>
<html lang="utf-8">

<head>
    <meta charset="UTF-8">
    <title>点餐系统后台管理-首页</title>
    <link rel="stylesheet" href="/admin/css/index.css">
</head>

<body>
    <% include common/top.ejs%>
        <div>
            <div>
                <img src="https://cdn.jsdelivr.net/gh/521129/Jsd@main/xiaochengxu/20220505185217.png" width="100%"
                    alt="">
            </div>
            <img src="https://cdn.jsdelivr.net/gh/521129/Jsd@main/xiaochengxu/20220505185115.png" width="100%" alt="">
        </div>
</body>

</html>