<!doctype html>
<html lang="utf-8">

<head>
    <meta charset="UTF-8">
    <title>点餐系统后台管理-首页</title>
    <link rel="stylesheet" href="/admin/css/index.css">
</head>

<body>
    <% include common/top.ejs%>
        <div>
            <div>
                <img src="https://static01.imgkr.com/temp/ce0255fba26c42469117655a9f2853a7.png" width="100%" alt="">
            </div>
            <img src="https://static01.imgkr.com/temp/e76f2e55e7f74bbe9e0950d5991ba029.png" width="100%" alt="">
        </div>
</body>

</html>